<div class="background">
<div class="qualifications" style="background-color:darkslategrey;">
  <h3 style="background-color: darkslategrey;">Skills</h3>
  <hr>
  
  <ul>
    <li> HTML5</li>
    <li> CSS3</li>
    <li>JavaScript</li>
    <li> Angular 8</li>
    <li> Github </li>
    <li> Bootstrap</li>
    <li> Command Line</li>
    <li> Google Cloud</li>
    <li> Amazon Web Services</li>
  </ul>
</div>

<div class="about"style="background-color:darkslategrey;" >
  <h3 style="background-color: darkslategrey;">A Little About Myself</h3>
  <hr>
   <ul class="discrip"> Hello Visitor,
My Name is Tamima. I was born in Ethiopia and moved to the sates when I was 13. i'm currently studying software development with <span style="color: yellow;">Year Up</span> . I enjoy listening to music, going to shooting ranges, outdoor actives, and photography. Also big fan of Mohammed Ali ( His Truly the Greatest).
</ul> 


</div>
</div>