.top-bar{
  height: 100px;
  width: 100%;
  background-color: darkslategray ;
}

.top-bar > h1, h4 {
  margin: 0px;
  letter-spacing: 1.8px;
  color:whitesmoke;
}

img {
  position: absolute;
  right: 200px;
  top: 20px;
  width: 100px;
  height: 99px;
  border-radius: 0px;
}

.portfolio-container {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-left: 0px;
  background-color: ;
}

hr {
  width: 100vw;
  border: 3px solid yellow;
  margin: 10 auto;
}

@media screen and (max-width: 1500px) {
  img {
    right: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1204px) {
  

.top-bar > h1, h4 {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: whitesmoke;
}

.portfolio-container{
  position: relative;
  left: 100px;
  display: inline-block;
  background-color: yellow;
}
}

@media screen and (max-width: 1204px) {
  .portfolio-container {
    background-color:yellow ;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    left: 50px;
  }
}

/* For Img to be over the title in the top bar */
@media screen and (max-width: 800px) {
  img{
    display: none;
  }

  .top-bar {
    position: relative;
    margin-bottom: 0px;
    left: 0px;

  }

  .portfolio-container{
    position: relative;
    margin-bottom: 0px;
    left: 0px;
  }
  
}




@media screen and (max-width: 605px) {
  .portfolio-container {
    background-color: yellow;
    margin: 0 auto;
    width: 95%;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .top-bar > h1, h4{
    font-size: 1em;
    text-align: center;
  }
}
