.sidenav {
  width: 250px;
  height: 700px;
  display: inline-block;
  vertical-align: top;
  background-color: darkslategray;
  position: relative;
}

li {
  list-style: none;
  margin: 20px 20px 0 20px;
  transition: 1s;
}

li:hover {
  transform: translateX(15px);
  
}

a {
  color: yellow;
  text-decoration: none;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.1em;
}

a:hover {
  color:whitesmoke;
}


hr {
  border: none;
  border-left: 0.2px solid rgba(0,0,0,0.7);
  height: 100vh;
  width: 2px;
  float: right;
  position: absolute;
  top: -4px;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .sidenav {
    width: 103%;
    height: 60px;
    top: -2px;
    left: 0px;
    background-color: #eef;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.3);
  }

  hr {
    display: none;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline;
    position: relative;
    top: -30px;
  }

  li:hover {
    transform: translateX(10px);
  }
}

@media screen and (max-width: 730px) {
  a {
    font-size: 0.8em;
  }
  .sidenav{
    margin-bottom: 60px;
  }
}
